@font-face {

          font-family: amaranth;
          src: url("Amaranth-Bold.otf") format("opentype");
        }

body    {
          margin: 0;
          padding-top: 50px;
        }

h2      {
          text-align: center;
          padding: 2%;
        }

h3      {
          font-size: 16px;
        }

.form    {
          background-color: rgba(45, 45, 45, 0.08);
          padding: 10px;
        }

#map    {
          position: absolute;
          height: 600px;
          width:100%;
        }


.navbar-brand {

          font-family: amaranth !important;

        }
.btn-default {
          height: 10%;
          margin-left: 20%;
        }

.btn-group-vertical > button{
    margin-bottom:20px;
}

.btn-group .dropdown-menu a{
          color:#fff;
        }

.btn-default .dropdown-menu {
          color: #000 !important;
        }
.btn-default .dropdown-menu li > a:hover,
.btn-default .dropdown-menu li > a:focus {
          background-color: #000 !important;
          color:#fff !important;
        }
.main-container {
          padding-right: 8%; 
          padding-left: 8%;
        }