@font-face {

          font-family: amaranth;
          src: url("Amaranth-Bold.otf") format("opentype");
        }

body    {
          margin: 0;
          padding-top: 50px;
        }

h2      {
          text-align: center;
          padding: 2%;
        }

h3      {
          font-size: 16px;
        }

#map-container {
          position: relative;
          height: 600px;
          width:100%;
        }

#map {
          position: relative;
          height: inherit;
          width: inherit;
        }

.navbar-brand {

          font-family: amaranth !important;

        }
.btn-default {
          height: 10%;
          margin-left: 20%;
        }

.btn-group-vertical > button{
    margin-bottom:20px;
}

.btn-group .dropdown-menu a{
          color:#fff;
        }

.btn-default .dropdown-menu {
          color: #000 !important;
        }
.btn-default .dropdown-menu li > a:hover,
.btn-default .dropdown-menu li > a:focus {
          background-color: #000 !important;
          color:#fff !important;
        }
